old/bower_components
old/external
old/node_modules
old/skulpt
lcov.info
npm-debug.log
ide.kdev4
.kdev4
*pyc
log.txt
synchronize.db
lcov.info
dist
.tmp
.sass-cache
app/bower_components
node_modules
*.pid
